<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12">
        <p>Higher mixing level will lead to stronger stylization effect. The example below shows the how a stylized image would look like under 3 different mixing levels</p>
        <h3>Mixing Level: Low</h3>
        <%=image_tag("/mixing_low.jpeg", class: "imagesStyle")%>
        <h3>Mixing Level: Medium</h3>
        <%=image_tag("/mixing_medium.jpeg", class: "imagesStyle")%>
        <h3>Mixing Level: High</h3>
        <%=image_tag("/mixing_high.jpeg", class: "imagesStyle")%>

    </div>

  </div>



 </div>
