<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
        <p>low resolution option rendered images will be resized such that the largest size will have no more than 768 pixels, and it usually takes about 15 seconds. High resoluiton option rendered images extend the limit to the largest size to 2500 pixel, and that usually takes about 1~4 minutes depending on the input image size. This is a huge difference in resolution and you will notice it most clearly when rendering images with people. See the example below.</p>
        <h3>low resolution, 768 pixels in largest size:</h3>
        <%=image_tag("/low-res.jpeg", class: "imagesStyle")%>
        <h3>high resolution, 2500 pixels in largest size:</h3>
        <%=image_tag("/high-res.jpeg", class: "imagesStyle")%>

    </div>

  </div>



 </div>
