/*@import "bootstrap";*/

/* mixins, variables, etc. */

//$grayMediumLight: #eaeaea;

$grayMediumLight: #000;

$grayLight: #000;//#999;

$blue: rgb(46, 109, 164);

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}




/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a{
  cursor: pointer;
}

/* header */
#logo-lg {
  float: left;
  padding-top: 0px;
  width: 230px;
  height: 50px;
}

#logo-xs {
  float: left;
  //margin-left: 10px;
  //margin-right: 10px;
  padding-top: 3%;
  width: 70%;
  //height: 15%;
}

#logo {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;

  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  overflow: hidden;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  /*width: 40%;*/
  section {
    padding: 10px 0;
    border-top: 1px solid $grayMediumLight;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;

    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLight;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/*.field_with_errors {
  #@extend .control-group;
  #@extend .error;
}*/

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLight;
    &:last-child {
      border-bottom: 1px solid $grayLight;
    }
  }
}


.product {
  padding: 10px 10px;
  margin: 10px 10px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  word-wrap: break-word;
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.errorMessage{
  color: #e20e13;
  font-weight: bold;
  display: block;
  width: 100%;
  height: auto;
  padding: 6px 12px;
  font-size: 14px;
  border: 2px solid #e20e13;
  border-radius: 4px;
  margin-top: 10px;
}

.errorMessage2{
  color: #e20e13;
}

.successMessage{
  color: #47a447;
  font-weight: bold;
  display: block;
  width: 100%;
  height: auto;
  padding: 6px 12px;
  font-size: 14px;
  border: 2px solid #47a447;
  border-radius: 4px;
  margin-top: 10px;
}
.productImage{
  position:absolute;
  margin:auto;
  top:0;
  left:0;
  right:0;
}

///////////////////////////////////////////////////////////////
.headerStyle-lg{
  margin-top: 9px;
}


.headerStyle-xs{
  margin-top: 5px;
}

//////////////////////////////////////////////////

.imageBlock200-lg{
  width: 190px;//33%;
  height: 190px;
  //background-color: rgba(0, 0, 0, 0.31);
  //border: 1px solid #000000;
  padding-left: 0!important;
  padding-right: 0!important;
}

.imageBlock400-lg{
  width: 380px;//66%;
  height: 380px;
  //padding-bottom:66%;
  //background-color: rgba(0, 0, 0, 0.31);
  //border: 1px solid #000000;
  padding-left: 0!important;
  padding-right: 0!important;
}

.imagesStyle{
  width: 100%;
  height: 100%;
}

.styleContentImage1-lg {
  //padding-left: 0!important;
  //padding-right: 0!important;
  //width: 200px;
  //height: 400px;
}

.styleContentImage2-lg {
  //padding-left: 0!important;
  //padding-right: 0!important;
  //width: 100%;
  padding-top: 10px;
  height: 100%;
}


.styleRow-lg {
  //height: 400px;
  min-width: 400px;
  //margin: 0 auto;
  //padding-bottom: 10px;
  //margin: 20px 0 20px;
  //border-bottom: 1px solid gray;
}

.styleHeadRow-lg{
  margin-top: 20px;
  padding-top: 0 px;
  height: 54px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  //border-bottom: 1px solid lightgray;
  padding: 4px 0;
}

.styleHeadCol2-lg{
  padding-right: 0!important;
  padding-left: 0!important;
  margin-top: 15px;
}

.userAvatarStyle-lg{
  padding-right: 0!important;
  padding-left: 0!important;

}

.userAvatarImage-lg{
  //height: 100%;
  width: 40px;
}

.textUserStyle-lg{
  color: #337ab7;
  font-weight: bold;
}

*[class^="userAvatarImage"]{
  border-radius: 60%;
  margin-right: 12px;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.user-info{
  margin-top: 3px;
}

.image-info{
  text-align: center;
  font-size: 12px;
  color: #999;
  margin: 4px 0;
}


///////////////////////////////////////////////////////////////
.styleRow-xs {
  //margin-top: 20px;
  //padding-top: 15px;
  //height: 50px;
  //padding-bottom:160%;
  //border: 1px solid lightgray;
  //border-bottom: 1px solid lightgray;
  margin-top: 5%;
}

  .styleHeadRow-xs{
    //margin-top: 20px;
    //padding-top: 15px;
    //height: 50px;
    //padding-top:5%;
    //padding-bottom:2%;
    //border: 1px solid lightgray;
    border-top: 1px solid lightgray;
    //border-bottom: 1px solid lightgray;
    padding-right: 0!important;
    padding-left: 0!important;
  }

  .styleHeadCol1-xs{
    padding-right: 0!important;
    padding-left: 0!important;
  }

  .styleHeadCol2-xs{
    padding-top:5%;

    //padding-right: 0!important;
    padding-left: 0!important;
  }

  .imageBlock200-xs{
    //background-color: rgba(0, 0, 0, 0.31);
    //border: 1px solid #000000;
    //padding-left: 0!important;
    //padding-right: 0!important;
    //margin-top:10%;
    padding-left: 0!important;
    padding-right: 0!important;
    padding-bottom:0%;
    //border: 1px solid lightgray;

  }

  .contentImageStyle-xs{
    width: 100%;
    //height: 100%;
 }

 .textHeadStyle-xs{
    font-size: 5vw;

 }



.userAvatarImage-xl{
  height: 100%;
  width: 100%;
}

.textUserStyle-xs
{
  font-size: 5vw;
  color: darkblue;
  font-weight: bold;
}

.textAboutStyle{
  font-size: 12px;

}


@media (max-width: 1200px) {
  .textAboutStyle{
    font-size: 1.5vw;

  }

}

.clearLRpadding{
  padding-right: 0!important;
  padding-left: 0!important;
}

.heightWidth100{
  height: 100%;
  width: 100%;
}


.likeStyle{
  position: absolute;
  top: 0%;
  left: 0%;
  padding-top: 8%;
  text-align: center;
}

.likeTextStyle{
  padding-top: 14px;
  //margin-top: 50%;
  margin-left: 0;
  text-align: center;
  width: 100%;
}

.liked .likeTextStyle{
  color: white;
  position: relative;
  z-index: 1;
}

.likeStyle img{
  width: 80%;
  height: 80%;
}

@media (max-width: 1199px) {
  .likeTextStyle{
    padding-top: 30%;
    font-size: 5vw;
  }
}


/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    height: auto;
    border-top: 1px solid #e8e8e8;

    .avatar{
      //width: 130px;
      //height: 100px;

      //margin: 0 auto;
    }
  }
}





.logoStyle{
  font-size: 10vw;
  float: left;

  margin-left: 10px;
  margin-top: 3%;
  //font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  //letter-spacing: -1px;

  //padding-top: 9px;
  font-weight: bold;
  //line-height: 1;
}

.logoStyle:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-collapse .nav li{
  font-size: 4vw;
}

.navButtonStyle{
  padding-bottom: 5%; padding-top: 5%; padding-left: 5%; padding-right: 5%;
  border: 4px solid #f5f5f5;
}
//span{
  //font-size: 10px;
//}


@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;

  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 4%;
    padding-bottom: 4%;
  }
  .collapse.in{
    display:block !important;
  }

  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
    max-height: 600vw;
  }

}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.styleRow2-lg{
  border-top: 1px solid lightgray;
  margin-top: 2%;
  padding-top: 2%;

}

.marked{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.roundImageStyle{
  -moz-border-radius: 15px; /* закругление для старых Mozilla Firefox */
  -webkit-border-radius: 15px; /* закругл. для старых Chrome и Safari */
  -khtml-border-radius:15px; /* закругл. для браузера Konquerer системы Linux */
  border-radius: 15px; /* закругление углов для всех, кто понимает */
  padding: 2px;
}

.progressBar {
  height: 20px;  /* Can be anything */
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  //padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  span {
    display: block;
    height: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    //background-color: rgb(43,194,83);
    //position: relative;
    //overflow: hidden;
    background-color: #f1a165;
    background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
  }
}

.fixedButton{
  position: fixed;
  background-color: #f1a165;
  display: block
}

.nav-pills li > img {
  max-width: 30px;
  max-height: 30px;
  margin: 6px 0 0 16px;
}

.soc-login {
  text-align: justify;
  margin-top: 12px;
}

.soc-login:after {
  display: inline-block;
  width: 100%;
  content: "";
}

.google_oauth2-login, .facebook-login, .twitter-login {
  display: inline-block;
  width: 32%;
  border-radius: 3px;
  text-decoration: none;
  padding: 6px;
  text-align: center;
}

.google_oauth2-login {
  color: #cf5c45;
  border: 1px solid #cf5c45;
}

.facebook-login {
  color: #3c5d95;
  border: 1px solid #3c5d95;
}

.twitter-login {
  color: #63adeb;
  border: 1px solid #63adeb;
}

.google_oauth2-login:hover, .facebook-login:hover, .twitter-login:hover {
  color: white;
  text-decoration: none;
}

.google_oauth2-login:hover {
  background: #cf5c45;
}

.facebook-login:hover {
  background: #3c5d95;
}

.twitter-login:hover {
  background: #63adeb;
}

.overflow-y-scroll {
  overflow-y: scroll !important;
}

.avatar img{
  border-radius: 60%;
}

.feed-buttons{
  text-align: center;
}

.feed-buttons a{
  display: inline-block;
  padding: 0 5px 0 9px;
  border-left: 1px solid #999;
}

.feed-buttons a:first-child{
  border-left: 0;
  padding-left: 0;
}

.field{
  margin-top: 22px;
}

.field-line{
  margin-bottom: 2px;
}

.field-line a{
  float: right;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#credits{
  float: right;
  color: white;
  font-size: 11px;
}

.tip{
  position: absolute;
  text-align: center;
  border-radius: 4px;
  background: white;
  border: 1px solid #337ab7;
  color: black;
  padding: 10px 10px 0;
  display: none;
}
.tip .btn{
  display: block;
}

#credits-tip{
  float: none;
}

.margin-top{
  margin-top: 20px;
}

.queue-image-data{
  overflow: hidden;
}
.queue-image-data .user-info{
  float: left;
}
.queue-image-data .modal-like{
  float: right;
}
.modal-content{
  padding: 15px;
}
.modal-like .likeStyle{
  padding-top: 0;
  left: auto;
  right: 0;
}
.modal-like .likeTextStyle{
  margin-right: 15px;
}
.modal .image-info{
  padding-bottom: 6px;
  border-bottom: 1px solid #999;
}
.modal img{
  max-width: 100%;
  max-height: 100%;
}

.modal .comment{
  padding: 6px 10px;
  margin-right: 10px;
}
.modal #comments{
  overflow-y: scroll;
  max-height: 300px;
  min-height: 182px;
}
.modal .comment p{
  margin-bottom: 0;
}
.modal .comment:first-child{
  border-top: none;
}
.modal .comment .credentials{
  margin-bottom: 0;
}
.modal textarea{
  margin-bottom: 0;
  border-radius: 4px 4px 0 0;
}
.modal input[type="submit"]{
  border-radius: 0 0 4px 4px;
}
.queue-image-link{
  display: block;
  text-align: center;
}
.modal .likeTextStyle{
  padding-top: 11px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.queue-image-link {
  display: block;
  margin-bottom: 20px;
}

.queue-image{
  position: relative;
  border: 1px solid black;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 4px;

  .like-block{
    position: absolute;
    top: 40%;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: black;
    text-align: center;
    background: image-url("unlike.png");
    background-size: 100% 100%;

    &.active{
      background: image-url("like.png");
      background-size: 100% 100%;
      color: white;
    }
  }

  img{
    margin-bottom: 36px;
  }

  .queue-image-link{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    left: 0;
    top: 0;
    opacity: 0;
  }

  &:hover .queue-image-link{
    opacity: 1;
  }

  .queue-image-ifc{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    border-top: 1px solid black;
    padding: 8px 10px 7px;

    a{
      margin-right: 8px;
    }
  }
}

.margin-bottom{
  margin-bottom: 20px;
}