// Place all the styles related to the QueueImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
	margin-bottom: 10px;
}

.navbar .btn {
	margin-bottom: 0;
}

#tags_form, .checkbox_tag {
	display: none;
}

[class^="tag"] {
	border-radius: 3px;
	border: 1px solid #337ab7;
	display: inline-block;
	vertical-align: middle;
	color: #337ab7;
	cursor: pointer;
	padding: 4px 5px;
	margin: 5px 5px 5px 0;

	&:hover{
		color: #337ab7;
		text-decoration: none;
	}

	&.active {
		color: white;
		background: #337ab7;
	}

	&:active, &:focus {
		text-decoration: none;
	}
}

#unselect-all {
	display: inline-block;
	vertical-align: middle;
	color: red;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.tag-size-4 { padding: 10px; }
.tag-size-3 { padding: 8px; }
.tag-size-2 { padding: 6px; }
.tag-size-1 { padding: 4px; }

#styles{
	height: 361px;
}

.tab-pane{
  overflow: hidden;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 22px;
}

.style-block{
	cursor: pointer;
}

.my-image-block{
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
}

.my-image-block.active{
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}