<p>Hi<%= @resource.email %>!</p>

<p>Your account has been suspended due to the excessive number of failed login attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
