
<div id="view_style">
  <div class="overflow-y-scroll" id="styles">
    <%= render partial: "show_styles", locals: {styles: @styles} %>
  </div>
  <%= hidden_field_tag 'queue_image[view_style]', view_style %>
</div>
