
<div id="view_style">
  <b>Choose style from below</b>
      <% if @tags %>
        <div>
          <div class="wrapper-tags">
              <% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
                <%= label_tag tag.name, nil, :class => css_class %>
              <% end %>
              <div id="unselect-all">Unselect all</div>
          </div>
        </div>
      <% end %>
      <div class="" id="styles">
        <%= render partial: "show_styles", locals: {styles: @styles} %>
      </div>
  <%= hidden_field_tag 'queue_image[view_style]', view_style %>
</div>
